.group{
    margin:10px;
    border:1px solid #3c8dbc;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    border-radius: 5px;
    padding: 10px;
}

select{
    width:auto !important;
}

.form-group input{
    width:auto;
}
.form-img{
    width:212px;
    float: left;
    padding:5px;
    margin:5px;
    border:1px solid #ccc;
    text-align: left;
    position: relative;
}
.form-img img,
.form-img input{
    max-width: 100%;
}

.form-img input,
.form-img select{
    /*margin:2px;*/
    font-size:12px;
}

.form-img .del_img .glyphicon-remove{
    /*color:red;*/

}

.img-cont{
    width:200px;
    height: 205px;}
.img-cont img{
    max-width: 100%;
    max-height: 100%;
   /* margin-top: 5px;
    margin-bottom: 5px;*/
}

.img-role{margin-top:5px}


a.set_name{
    float: right;
    position: relative;
    display: block;}

a.del_img{
    /*float: left;*/
    position: absolute;
    display: block;
    right:0;
    padding:0 5px;
    color:red;
}

.success{color:green}
.danger{color:red}

.save-success{border-color:green}
.save-error{border-color:red}

.grid-view table td, .grid-view table th{
    text-align: center;
}

::placeholder { /* Chrome, Firefox, Opera, Safari 10.1+ */
    color: #ccc;
    opacity: 1; /* Firefox */
}

:-ms-input-placeholder { /* Internet Explorer 10-11 */
    color: #ccc;
}

::-ms-input-placeholder { /* Microsoft Edge */
    color: #ccc;
}

/*.sortable-grid-view{width:auto}*/
.ui-sortable-handle{cursor: move}
.ui-sortable-helper{width:100%; background: antiquewhite !important; border:1px dashed red}

.data-align-left{text-align: left}

.current-menu{
    font-weight: bold;
    color:#000}