html,
body {
    height: 100%;
    font-family: 'HelveticaRegular', Arial, sans-serif;
    font-size: 16px;
    color:#333;
}

.wrap {
    min-height: 100%;
    height: auto;
    /*margin: 0 auto -60px;*/

    padding: 0 0 60px;
     margin: 0 auto -200px;
    padding: 0 0 200px;
}

.main{border:0px solid #eee; padding:0}



h1{
    font-family: 'HelveticaLight', Arial, sans-serif;
    font-size: 48px;
    text-transform: uppercase;
    padding-top:20px;
    text-align: center;
}

h2{
    font-family: 'HelveticaThin', Arial, sans-serif;
    font-size: 40px;
    text-transform: uppercase;
    margin-top:35px;
    margin-bottom:20px;
}

h3{
    /*font-family: 'HelveticaThin', Arial, sans-serif;*/
    font-size: 24px;
    /*text-transform: uppercase;*/
    margin-top:35px;
    margin-bottom:20px;
}

a, a:hover, a:active, a:focus{
    color:#dc3383;
    font-family: 'HelveticaLight', Arial, sans-serif;;
}

hr{
    color:#d6d6d6;
    height: 1px;
}

.main section .form-group button, .main section .form-group button:hover, .main section .form-group button:active,
button.nk-button, button.nk-button:hover, button.nk-button:active
{
    color: #fff;
    background: #ff325b url(/web/tpl/arrow_tr.png) no-repeat right;
    font-size: 14px;
    border:1px solid #ff325b;
    outline: none;
    display: inline-block;
    padding: 6px 10px;
    margin-bottom: 0;
    font-weight: 400;
    line-height: 1.42857143;
    text-align: center;
    white-space: nowrap;
    vertical-align: middle;
    -ms-touch-action: manipulation;
    touch-action: manipulation;
    cursor: pointer;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    border-radius: 4px;
    width:100%;
    max-width:360px;
}
.btn-title{
    padding:0 20px
}


header{}

picture img{
    max-width: 100%;}

/* NavBar */
.navbar{
    position: relative;
}
.navbar-header{
    position: relative;
    z-index: 2;
}
.navbar-default{
    background: #dc3383;
    border-radius: 0;
    border:0px;
    margin-bottom:0;
    box-shadow: 0 6px 12px rgba(0, 0, 0, .175);
    z-index: 2;
}
.navbar-brand{
    padding:0;
    position: absolute;
}
.navbar-nav
    {margin-left: 240px;}

.navbar-default .navbar-nav > li > a{
    color:#fff;
    text-transform: uppercase;
    font-family: 'HelveticaBold', sans-serif;
    font-size:14px
}
.navbar-default .navbar-nav > li > a:hover{
    color:#f99ec9
}
.navbar-default .navbar-nav > .active > a,
.navbar-default .navbar-nav > .active > a:hover,
.navbar-default .navbar-nav > .active > a:focus{
    color:#f99ec9;
    background: none
}

.navbar-toggle {
    position: relative;
    float: left;
    padding: 9px 10px;
    margin-top: 12px;
    margin-right: 15px;
    margin-bottom: 8px;
    background-color: transparent;
    background-image: none;
    border: 0; /*1px solid transparent;*/
    /*border-radius: 4px;*/}

.navbar-default .navbar-toggle:hover, .navbar-default .navbar-toggle:focus {
    background-color:#dc3383;
}
.navbar-default .navbar-toggle .icon-bar {
    background-color: #fff;
}

.navbar-default .navbar-nav > .open > a,
.navbar-default .navbar-nav > .open > a:hover {
    color: #fff;
    background-color: #dc3383;
}
.navbar-default .navbar-nav > .open > a:focus {
    color: #f99ec9;
    background-color: #dc3383;
}

.submenu{
    position: inherit !important;
}

.dropdown-menu{
    width:100%;
    z-index: 1;
    border:0;
    border-bottom:1px solid #dc3383;
    -webkit-border-radius: 0;
    -moz-border-radius: 0;
    border-radius: 0;
    box-shadow: none;
}
.dropdown-menu li{
    display: block;
    float: left;
}
.dropdown-menu > li > a{
    color:#dc3383;
    padding:5px 10px;
}

.dropdown-menu > li > a:hover{
    color:#dc3383;
    padding:5px 10px;
    background: none;
    font-family: 'HelveticaBold', serif;
}


.navbar-toggle .icon-bar-2{
    transform: rotate(-45deg) translateX(4px) translateY(-4px);
    /* display: none; */
}

.navbar-toggle .icon-bar-1{
    transform: rotate(45deg);
    /* display: none; */
}
/* nav-bar closed */

.collapsed .icon-close{
    display: none;
} 
.collapsed .icon-bar{
    display: block;
    transform:none;
}



/* /NavBar */

/* slider1 */

#slider1{
    display: none;}

.slick-slide img {
    max-width: 100%;
}

.slider-main{
    /*background: #f9a0ca ;*/
    /*margin-top:45px;*/
    max-width:1170px; 
    margin-left:auto;
    margin-right:auto;
    text-align: center;
}
.slider-main .item{
    background: none; /* #fff; */
    display: none;
    text-align: center;
}
.slider-main .item img{
    margin:auto;

}

/* .item-hide{display: none;} */

.slider-main .item:first-child{
    display: inline;
}

.slider-main .slick-prev, .slider-main .slick-next {
    font-size: 0;
    line-height: 0;
    position: absolute;
    top: 50%;
    display: block;
    width: 20px;
    height: 20px;
    padding: 0;
    -webkit-transform: translate(0, -50%);
    -ms-transform: translate(0, -50%);
    transform: translate(0, -50%);
    cursor: pointer;
    color: transparent;
    border: none;
    outline: none;
    background: transparent;
}

.slider-main .slick-prev {
    left: -25px;
}
.slider-main .slick-next {
    right: -25px;
}

.carousel-caption-nk {
    right: 15%;
    left: 15%;
    padding-top: 20px;
    padding-bottom: 20px;
    padding:20px;
    background: none; /* #f9a0ca url(/web/tpl/slider_caption_bg.png) repeat-x; */
    color: #fff;
    text-align: center;
    font-family: 'HelveticaNeueCyrThin';
    font-size: 24px;
    border-top:3px solid #fff;
}

.carousel-caption-nk-bg{
    background: #f9a0ca url(/web/tpl/slider_caption_bg.png) repeat-x; 
    height: 74px;
    margin-top: -74px;
}

#slider1 .carousel-control {
    position: absolute;
    top: auto;
    bottom: 0px;
    /* left: auto; */
    width: 15%;
    font-size: 20px;
    padding:15px;
    color: #fff;
    text-shadow: none;
    /*background-color: rgba(0, 0, 0, 0);
    filter: alpha(opacity=100);*/

    opacity: 1;
    z-index: 2;
}

.carousel-control.left, .carousel-control.right{
    background-image: none
}
.carousel-control.left{
    text-align: left;
    left:0;
    background: url(/web/tpl/grad_prev.png) left no-repeat;
    /*background: -moz-linear-gradient(left, rgba(249, 160, 202,1) 0%, rgba(255,255,255,0) 100%); !* FF3.6-15 *!
    background: -webkit-linear-gradient(left, rgba(249, 160, 202,1) 0%,rgba(255,255,255,0) 100%); !* Chrome10-25,Safari5.1-6 *!
    background: linear-gradient(to right, rgba(249, 160, 202,1) 0%,rgba(255,255,255,0) 100%); !* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ *!
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#dc3383', endColorstr='#00ffffff',GradientType=1 ); !* IE6-9 *!*/
}
.carousel-control.right{
    text-align: right;
    background: url(/web/tpl/grad_next.png) right no-repeat;
    /*background: -moz-linear-gradient(left, rgba(255,255,255,0) 0%, rgba(249, 160, 202,1) 100%); !* FF3.6-15 *!
    background: -webkit-linear-gradient(left, rgba(255,255,255,0) 0%,rgba(249, 160, 202,1) 100%); !* Chrome10-25,Safari5.1-6 *!
    background: linear-gradient(to right, rgba(255,255,255,0) 0%,rgba(249, 160, 202,1) 100%); !* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ *!
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#00ffffff', endColorstr='#dc3383',GradientType=1 ); !* IE6-9 *!*/

}



/* /slider1 */

.laces{
    /*margin-top:4px;*/
    border-top:4px solid #fff;
    height:33px;
    background: #fff url(/web/tpl/laces.png) repeat-x;
}

footer .laces{
    background: #fff url(/web/tpl/laces_footer_3.png) repeat-x;
    border-bottom:4px solid #fff;
}

/* SECTION PROMO */
.section-center{
    text-align: center;
    max-width: 760px;
    margin:auto;
    /*padding:0 20px;*/
}
/* /SECTION PROMO */

/* SECTION Project Faces */

.face{padding:15px 30px}
.face span{
    display: block;
    padding:5px;
}
.face img{
    max-width: 100%;
}

.all-faces > .face{
    padding-top: 0 !important;
}


/* /SECTION Project Faces */

/* SECTION Supervision */
#supervision .video{
    padding:15px 30px
}
#supervision .video iframe{
    max-width:100%;
    /*padding-top:10px;
    padding-bottom: 10px;*/
}

#supervision .video {
    text-align: left;
}

/*#supervision */.video .video-title{
    font-family: 'HelveticaBold', Arial, sans-serif;
    display: block;
    font-size:18px;
}
/*#supervision */.video .video-date, #supervision .video a{
    color:#dc3383;
    font-size: 14px;
    text-transform: lowercase;
}

.yt-cover{
    position: relative;
    padding-bottom:10px;
}
.yt-cover img{
    max-width: 100%;
}

.yt-container{
    position: absolute;
    top:0;
    left:0;
    /*background: #f00;*/
    width: 100%;
    height: 100%;
    cursor: pointer;
}

.yt-container i{
    position: absolute;
    display: block;
    top: 50%;
    margin-top: -40px;
    left:50%;
    margin-left: -40px;
    font-size: 80px;
    color:#fff;
}

.yt-container i.over{
    color:#f9a0ca;
}
/* /SECTION Supervision */


/* SECTION about */
#about{
    text-align: left;
}
.about-img{
    max-width: 100%;
}

/* /SECTION about */

/* SECTION Person */
#person hr{
    margin:20px 0 0 0}
.person-nav {
    /*display: -webkit-flex;
    display: flex;
    justify-content: space-between;
    align-items: center;*/
}

.person-nav .col-sm-1{padding:0}

.person-nav h2{
    margin-top: 30px;
    margin-bottom: 30px;
}

.person-nav a.person-next{
    padding:20px 0 20px 0px;
    margin:20px 0;
    display: block;
}

.nav-arrow-next-2{
    display: none
}

.person-nav a.person-prev{
    padding:20px 0px 20px 0;
    margin:20px 0;
    display: block;
}

.person-images img{
    max-width: 100%;
    width: 100%;
}

.person-images .row{
    position: relative;}

.person-img-1{
    padding: 0 0 0 0;
    position: relative;
}

.person-img-2{
    margin: 0 0 0 5px;
    padding:0;
    position: absolute;
    right: 0;
    height: 100%;
    box-sizing:border-box;
    /*background:red;*/
}

.person-img-2 img{
    /*height:100%;*/
    border-left:5px solid #fff;
}

.person-img-2 img:first-child{
    /*margin-bottom:10px;*/
}

.person-img-cake{
    display: block;
    position: absolute;
    bottom:0;
    border-top:5px solid #fff;
}

.person-text{
    background: #dc3383;
    color: #fff;
    text-align: center;
    text-transform: uppercase;
    padding: 10px;
    position: absolute;
    bottom: 0;
    width: 100%;
    font-family: 'HelveticaMedium', Arial, sans-serif;
    font-size:22px;

}

.city-name{
    clear: both;
    margin-top:25px;
}

.city-name hr{
    display: block;
    position: relative;
    top:-21px;
    margin:0;
    z-index: -1}

.city-name span{
    background:#14aba4;
    color:#fff;
    text-transform: uppercase;
    width:100%;
    max-width: 300px;
    padding:4px;
    margin:auto;
    font-size: 24px;
    font-family: 'HelveticaNeueCyrThin', Arial, sans-serif;
    display: block;
}

.year-list ul, year-list ul li{
    display: block;
    margin:0;
    padding: 0px;
}

.year-list ul li{
    display: block;
    float: left;
    list-style: none;
    padding:20px;
}

.year-list ul li.active{
    font-weight: bold;
}

.face-wrap{
    position: relative;
}

.person-winner{position: absolute;
    bottom: 0;
    background: #dc3383;
    color: #fff;
    width: 100%;
    padding: 8px;
    font-family: 'HelveticaMedium', Arial, sans-serif;
    text-transform: uppercase;
    font-size:10px;
}
/* /SECTION Person */

/* SECTION Jury */
#jury .col-md-4{
    padding-left:9px;
    padding-right: 9px;
    text-align:left;
    margin-top:25px;
}

.j-img img{
    max-width:100%;
    -webkit-border-radius: 15px;
    -moz-border-radius: 15px;
    border-radius: 15px;
}

.j-name{
    color: #dc3383;
    display: block;
    margin-top: 15px;
}

.j-descr{
    display: block;
    margin-top: 15px;
}

.clear-3{
    clear:both;
}

/* /SECTION Jury */

/* SECTION Markets */
#markets/*,
#markets .container-fluid*/{
    padding:0
}

#markets .flex-container{
    display: -webkit-flex;
    display: flex; /*отображает контейнер как блочный элемент*/
    justify-content: space-between;
    flex-wrap:wrap;
}

.markets-city-name{
    color:#dc3383;
}

.markets-city-content{
    padding:30px 0;
}

.markets-city-brand{
    border:1px solid #cecece;
    /*float:left;*/
    margin:9px 5px;
}

/* /SECTION Markets */


/* SECTION Products */
#products{

}

.product a{
    display: block;
}

.product a img{
    max-width:100%;
    margin-top:40px;
    margin-bottom:40px;
}

.product span{
    display: block;
    font-family: HelveticaNeueCyrLight;
    font-size:30px;
}

.gallery-nav .item img{
    max-width: 100%;
}

.gallery-nav .item a{
    display: block;
    padding-bottom:15px;
}

.gallery-nav .item a.selected{
    border-bottom:2px solid #f9a0ca;
}

#product .video iframe{
    width:100%;
}

.product-descr{
    text-align: left;
}

.product-descr ul,
.product-descr ul li{
    list-style: none;
    /*margin:0;*/
    padding: 10px 0;
}

.gallery-view img{
    max-width: 100%;
}

.gallery-nav .item a{
    /*border:1px solid red;*/
}

/* /SECTION Products */


/* SECTION Franch */
.nk-form input,
.nk-form textarea,
.nk-form .input-group-addon{
    border:1px solid #f9a0ca;
    -webkit-border-radius: 0;
    -moz-border-radius: 0;
    border-radius: 0;
}

.form-control{
    height: auto;
    border:1px solid #f9a0ca;
    -webkit-border-radius: 0;
    -moz-border-radius: 0;
    border-radius: 0;
}

.nomask img{
    opacity: .5;
}

.nk-form .input-group-addon{
    border-left: 0;
    padding:0;
    cursor: pointer;
    background: #fff;
}

.has-success .input-group-addon{
    border-color:#3c763d;
}

.has-error .input-group-addon{
    border-color:#a94442;
}
.progress-bar{
    background-color: #f9a0ca ;
}

.field-franchform-recaptcha label{
    display: none;
}

button.franch-submit {
    max-width: 302px !important;
}
/* /SECTION Franch */





/* FOOTER */
footer{
    background: #fbc6df;
}

.section-footer{padding:0}

.footer-menu{
    text-align: left;
    margin-bottom:10px;
    margin-top:10px;
}
.footer-menu-title{
    font-family: 'HelveticaBold', Arial, sans-serif;
    font-size: 14px;

}

footer ul, footer ul li{
    display: block;
    list-style: none;
    padding:0;
    margin:0;
    font-size: 14px;
}

footer ul{
    text-align: left;
    margin: 10px 0;
}

footer ul li a{
    color: #333;
}

footer ul li.social{
    float:left;
    margin:0 1px 1px 0;
}

/*.social-menu li:first-child{
    margin-bottom:10px
}*/

#copyright{
    text-align: left;
    padding:12px 0 0;
    font-size:12px;
    font-family: 'HelveticaThin', Arial, sans-serif;
}

.hr-bottom{
    margin-top:12px;
}


.footer-wrap{
    box-shadow: inset 0 58px 26px -63px rgba(21, 21, 21, 0.31), inset 0 -1px 60px -60px rgba(21, 21, 21, 0.57);
}
/* /FOOTER */



.alignment-block .align-left{
    padding-left:0 !important;
    margin-left:0;
}

.alignment-block .align-right{
    padding-right:0 !important;
    margin-right:0;
}

.section-center p{
    margin-bottom:20px;
}

.arrow-rt{
    transform: rotate(-45deg);
}

/* ==================================================================================================== */
/*                  MEDIA QUERYES                                                                       */
/* ==================================================================================================== */
/*==========  Non-Mobile First Method  ==========*/
/* Large Devices, Wide Screens */
@media only screen and (max-width : 1200px) {
    .main{margin-top:30px;}
}

/* Medium Devices, Desktops */
@media only screen and (max-width : 992px) {
     .navbar-brand > img {
        display: block;
        width: 150px;
    } 
    .navbar-brand{
        left: 50%;
        margin-left: -75px;
    }
    .navbar-nav {
        margin-left: 130px;

    }

    /*.navbar > .container{
        width:100%;
    }*/

    .nav > li > a{
        padding-left: 10px;
        padding-right:10px;
        font-size:12px !important;
    }

    .main{margin-top:0;}

    .clear-3{
        display: none;
    }

    .clear-2{
        clear:both;
    }
}

@media only screen and (width : 768px) {
    .navbar-nav {
        margin: 0 0 0 130px !important;
    }


    .nav-arrow-next-2{
        display:none !important;
    }

    .nav-arrow-next{
        display:block !important;
    }


    /*.person-images img{
        max-width: 100% !important;
        width: 100% !important;
    }

    .person-images .row{
        position: relative !important;}
*/
    .person-img-1{
        padding: 0 0 0 0 !important;
        position: relative !important;
    }

    #person-img-1{
        width:100% !important;
    }

    .person-img-2{
        margin: 0 0 0 5px !important;
        padding:0 !important;
        position: absolute !important;
        right: 0 !important;
        height: 100% !important;
        box-sizing:border-box !important;
        /*background:red;*/
    }

    .person-img-2 img{
        border-left:5px solid #fff !important;
    }

    .person-img-2 img:first-child{
        margin-top:0 !important;

        /*margin-bottom:10px;*/
    }

    .person-img-cake{
        display: block !important;
        position: absolute !important;
        bottom:0 !important;
        border-top:5px solid #fff !important;
    }

    .person-text{
        width: 100% !important;
        left: 0 !important;
        margin-left: 0 !important;
    }
}

/* Small Devices, Tablets */
@media only screen and (max-width : 768px) {
    .main{margin-top:20px;}


    .slider-main{
        /*background: #f9a0ca ;*/
        margin-top:25px;
    }


    .alignment-block .align-left{
        padding-left: 30px !important;
        margin-left: auto;
    }

    .alignment-block .align-right{
        padding-right:30px !important;
        margin-right:0;
    }

   /* #project-faces .align-left{
        padding-left:0;
    }*/

    .section-center{
        padding:0 10px;
    }

    .navbar-nav {
        margin: 55px 0 0 0;
    }

    .dropdown-menu li {
        display: block;
        float: inherit;
    }

    .navbar-default .navbar-nav .open .dropdown-menu > li > a {
        color: #dc3383;
        background: #fff;
    }
    .navbar-default .navbar-nav .open .dropdown-menu > li > a:hover {
        color: #dc3383;
        background: #fff;
        font-family: 'HelveticaBold', Arial, sans-serif;
    }

    .footer-menu-social, .social-menu{
        text-align: center;
    }

    li.social{
        display: inline-block;
        float: none !important;
    }

    /* .face {
    padding: 0;
    } */

    .person-nav h2{
        margin-top:10px;
        margin-bottom:10px;
    }

    .person-nav a.person-prev,
    .person-nav a.person-next{
        /*border:1px solid red;*/
        margin:0;
    }

    .person-nav a.person-prev{
        padding-right:0;
    }

    .person-nav a.person-next{
        padding-left:0;
    }

    .nav-arrow-next-2{
        display:block;
        padding-right: 15px;
        padding-left: 15px;
    }
    .nav-arrow-next{
        display:none;
    }



    .person-text{
       padding:8px;
        width:360px;
        left:50%;
        margin-left: -180px;
    }

    .person-images img {
       width: auto !important;
    }

    .person-img-2 {
         margin: auto;
         padding: auto;
         position: relative;
         right: auto;
         height: 100%;
         box-sizing: border-box;
         /*background: red; */
    }

    .person-img-2 img
    {
        display: block;
        margin: 10px auto 0 auto;
        border:0;
    }
    .person-img-cake {

        position: relative;
        bottom: auto;
        border-top: 0;
    }

    .person-winner{
        /*font-size:14px;*/
    }

    #jury .col-md-4{
        text-align:center;
    }

    #markets .flex-container{
        justify-content: center;
    }

    #copyright{
        padding-left: 10px;
        padding-right: 10px;
    }

    #products .align-left{
        padding-left: 0 !important;
    }

    #products .align-right{
        padding-right: 0 !important;
    }

    /*.product{
        padding-left: 0 !important;
        padding-right: 0 !important;
    }*/

    .product span{
        font-size:25px;
    }

    .product a img {
        margin-top: 20px;
        margin-bottom: 20px;
    }

}

@media only screen and (max-width : 576px) {
    h1{
        font-size: 36px;
    }

    h2{
        font-size: 32px;
    }

    .person-text{
        font-size: 18px;
    }

    #slider1 .carousel-control{
        /*padding:15px 20px 18px;*/
        padding:6px 20px 8px;
    }

    #slider1 .laces{
        border-top: 2px solid #fff;
        height: 17px;
        background: #fff url(/web/tpl/laces_h15.png) repeat-x;
    }

    .carousel-caption-nk{
        font-size:16px;
        padding:10px;
    }

    .carousel-control.right img,
    .carousel-control.left img{
        height:20px;
    }

    .carousel-caption-nk-bg {
        background: #f9a0ca url(/web/tpl/slider_caption_bg.png) repeat-x;
        height: 65px;
        margin-top: -65px;
    }

    .section-center{
        padding:0 10px;
    }

    #copyright{
        padding-left: 10px;
        padding-right: 10px;
    }

    .face{
        padding:5px 10px !important;
    }

    .person-winner{
       /* font-size:12px;*/
        width:100%;
    }




}

/* Extra Small Devices, Phones */
@media only screen and (max-width : 480px) {
    h1{
        font-size: 30px;
    }

    h2{
        font-size: 24px;
    }

    #project-faces .container-fluid,
    #supervision .container-fluid {
        padding-right: 0;
        padding-left: 0;
    }  

     #project-faces .container-fluid .row,
    #supervision .container-fluid .row{
        margin-right: 0;
        margin-left: 0;
    }  

    #project-faces .align-left,
    #supervision .align-left{
        padding-left: 0 !important;
    }

    #project-faces  .align-right,
    #supervision .align-right{
        padding-right:0 !important;
    }

    #supervision .video {
        padding: 15px 0;
    }
    .person-text{
        font-size: 14px;
    }

    .person-images{
        padding-left:15px;
        padding-right:15px;
    }
    
    .face{
        padding-top:5px;
        padding-bottom:5px;
        padding-left: 10px !important;
        padding-right: 10px !important;
    }

    .product span{
        font-size:20px;
    }

    .product a img {
        margin-top: 10px;
        margin-bottom: 10px;
    }

    .big-size{
        padding:0;
    }

    
}

@media only screen and (max-width : 398px) {
    .person-text{
        padding:8px;
        width:100%;
        left:auto;
        margin-left: auto;
    }
}

/* Custom, iPhone Retina (iphone 6) */
@media only screen and (max-width : 380px) {
    html, body{
        font-size:14px;
    }
    h1{
        font-size: 24px;
    }

    h2{
        font-size: 20px;
    }

    h3{
        font-size: 16px;
    }
    

    .person-text{
        font-size: 10px;
    }

    .person-winner{
        font-size:8px;
        padding:5px;
    }

    .product span{
        font-size:16px;
    }
}

/* Custom, iPhone Retina (iphone 4, 5) */
@media only screen and (max-width : 320px) {
    html, body {
        font-size: 12px;
    }

    h1 {
        font-size: 24px;
    }

    h2 {
        font-size: 20px;
    }

    h3 {
        font-size: 16px;
    }

    .navbar-default .navbar-nav > li > a,
    .dropdown-menu {
        font-size: 12px;
    }

    .carousel-caption-nk {
        font-size: 16px;
    }

    .video .video-date, #supervision .video a {
        font-size: 10px;
    }

    .video .video-title {
        font-size: 12px;
    }

    footer ul, footer ul li {
        font-size: 12px;
    }
}